#dialogscreen p{
	font-size:1vw;
	left:53.9vw;
	padding:.4vw 1.8vw .4vw 1.8vw;
	position:absolute;
	top:53.5vh;
}
#dialogscreen{
	position:absolute;
}
#left p:hover{
	background:linear-gradient(to right,#333 70%,rgba(1,1,1,0));
	color:#fff;
}
#points{
	cursor:text;
	user-select:text;
}
.cover{
	background-color:rgba(0,0,0,.6);
	height:100vh;
	position:absolute;
	top:0;
	width:100vw;
}
.dialog{
	left:40vw;
	position:absolute;
	top:41vh;
	width:20.3vw;
}
.hidden{
	display:none;
}
.leftedge,.rightedge{
	background-size:auto 100%;
	width:20px;
}
.leftedge{
	background-image:url("assets/left edge.png");
}
.main{
	text-align:center;
}
.rightedge{
	background-image:url("assets/right edge.png");
}
.side,.slide{
	background-color:#202020;
	padding:1vh 0 0 0;
	vertical-align:top;
}
.side{
	animation:shrink .8s;
	width:16vw;
}
.slide{
	transition:.8s;
	width:24vw;
}
.upload{
	left:42.3vw;
	position:absolute;
	top:44vh;
}
@keyframes shrink{
	from{width:24vw;}
	to{width:16vw;}
}
body{
	background-image:url("assets/menu.png");
	background-position:center;
	background-size:auto 100%;
	color:#ccc;
	cursor:default;
	font-family:Ubuntu;
	margin:0;
	user-select:none;
}
p{
	margin:2px 0 2px 0;
	padding:1px 0 3px 20px;
}
table{
	border-spacing:0;
	height:100vh;
	width:100vw;
}