/*Constants*/
body{
	-webkit-user-select:none;
	background-color:#000;
	background-image:url(assets/menu.png);
	background-size:100%;
	color:#9f9f9f;
	font-family:Ubuntu;
	margin:0;
	overflow:hidden;
	user-select:none;
}
canvas{
	-webkit-animation:blurOff 1s;
	animation:blurOff 1s;
	bottom:0;
	left:0; 
	margin:auto;
	position:absolute;
	right:0;
	top:0;
}
label{
	-webkit-animation:highlightOff .5s;
	animation:highlightOff .5s;
}
label:hover{
	-webkit-animation:highlightOn .5s forwards;
	animation:highlightOn .5s forwards;
	cursor:pointer;
}
.hidden{
	display:none;
}
::-webkit-scrollbar{
	display:none;
}
/*Interactables*/
#loadImage{
	left:20px;
	position:absolute;
	top:20px;
}
#swizzle{
	left:20px;
	position:absolute;
	top:60px;
}
#outline{
	left:20px;
	position:absolute;
	top:80px;
}
#mirror{
	left:20px;
	position:absolute;
	top:100px;
}
#engines{
	left:20px;
	position:absolute;
	top:140px;
}
#engine{
	left:9.5vw;
	position:absolute;
	top:120px;
}
#reverseEngine{
	left:9.5vw;
	position:absolute;
	top:140px;
}
#steeringEngine{
	left:9.5vw;
	position:absolute;
	top:160px;
}
#weapons{
	left:20px;
	position:absolute;
	top:160px;
}
#gun{
	left:9.5vw;
	position:absolute;
	top:150px;
}
#turret{
	left:9.5vw;
	position:absolute;
	top:170px;
}
#bays{
	left:20px;
	position:absolute;
	top:180px;
}
#fighter{
	left:9.5vw;
	position:absolute;
	top:170px;
}
#drone{
	left:9.5vw;
	position:absolute;
	top:190px;
}
#undo{
	font-size:40px;
	position:absolute;
	right:130px;
	text-align:left;
	top:15px;
}
#xCoordinate{
	position:absolute;
	right:0;
	text-align:left;
	top:20px;
	width:120px;
}
#yCoordinate{
	position:absolute;
	right:0;
	text-align:left;
	top:40px;
	width:120px;
}
#points{
	line-height:3vh;
	max-height:85vh;
	overflow-x:hidden;
	overflow-y:scroll;
	position:absolute;
	right:0;
	text-align:left;
	top:80px;
	white-space:pre;
	width:240px;
}
/*Fade*/
.fade{
	animation:fade .3s forwards !important;
	-webkit-animation:fade .3s forwards !important;
}
@keyframes fade{
	0%{opacity:1;
		left:9.5vw;}
	99%{left:12vw;}
	100%{left:-10vw;
		opacity:0;}
}
/*Highlight*/
@keyframes highlightOff{
	0%{color:#eee;}
	100%{color:#9f9f9f;}
}
@keyframes highlightOn{
	100%{color:#eee;}
}