/*Constants*/
*{
	-webkit-user-select:none;
	color:#9f9f9f;
	font-family:Ubuntu;
	margin:0;
	overflow:hidden;
	user-select:none;
}
body{
	background-color:#000;
	background-image:url(assets/menu.png);
	background-size:100%;
}
canvas{
	bottom:0;
	left:0; 
	margin:auto;
	position:absolute;
	right:0;
	top:0;
}
label{
	-webkit-animation:highlightOff .5s;
	animation:highlightOff .5s;
	font-size:16px;
	position:absolute;
}
label:hover{
	animation:highlightOn .5s forwards;
	cursor:pointer;
}
.blocked,
.blocked label{
	animation:none;
	color:#333;
	pointer-events:none;
}
.dark,
.dark:hover{
	animation:none;
	color:#333;
}
.hidden{
	display:none;
}
::-webkit-scrollbar{
	display:none;
}
/*	Load	*/
#loadImage{
	font-size:32px;
	left:20px;
	top:10px;
}
/*	Menu Options	*/
#formatting{
	left:270px;
	top:10px;
}
#mirror{
	left:361px;
	top:10px;
}
#outline{
	left:414px;
	top:10px;
}
/*	Menu Cycles	*/
#swizzle{
	left:270px;
	top:30px;
}
/*	Hardpoints	*/
#gun{
	bottom:120px;
	left:40px;
	text-align:center;
	width:60px;
}
#turret{
	bottom:100px;
	left:40px;
	text-align:center;
	width:60px;
}
#fighter{
	bottom:80px;
	left:15px;
	text-align:center;
	width:60px;
}
#drone{
	bottom:80px;
	left:70px;
	text-align:center;
	width:60px;
}
#engine{
	bottom:60px;
	left:40px;
	text-align:center;
	width:60px;
}
#left{
	bottom:40px;
	left:20px;
	text-align:center;
	width:60px;
}
#right{
	bottom:40px;
	left:60px;
	text-align:center;
	width:60px;
}
#reverse{
	bottom:20px;
	left:40px;
	text-align:center;
	width:60px;
}
/*	Informational	*/
#xCoordinate{
	left:20px;
	text-align:left;
	top:60px;
}
#yCoordinate{
	left:20px;
	text-align:left;
	top:80px;
}
#output{
	font-size:12px;
	height:85vh;
	overflow-x:hidden;
	overflow-y:scroll;
	position:absolute;
	right:0;
	text-align:left;
	top:20px;
	user-select:all;
	white-space:pre;
	width:240px;
}
#copy{
	bottom:20px;
	right:20px;
	position:absolute;
}
/*	Fade	*/
.fade{
	animation:fade .3s forwards !important;
	-webkit-animation:fade .3s forwards !important;
}
@keyframes fade{
	0%{opacity:1;
		left:9.5vw;}
	99%{left:12vw;}
	100%{left:-10vw;
		opacity:0;}
}
/*	highlight	*/
@keyframes highlightOff{
	0%{color:#eee;}
	100%{color:#9f9f9f;}
}
@keyframes highlightOn{
	100%{color:#eee;}
}